$contentBg: #fff;
$bodyBackground: #dcbb9a;
$headingColor: #893c00;
$imgBorder: $headingColor;
$brBg: #fadcba;
$label: #808080;
$thBackground: #e0e0e0;
$tdBackground: $contentBg;
$borderColor: $thBackground;
$button: #3d70a1;
$linkColor: $button;
$pColor: #000000;
$Transorm: none;
$thBorderRight: #fff;