$contentBg: #3b3b3b;
$bodyBackground: rgba(198, 238, 252, 0.53);
$headingColor: #fccd10;
$imgBorder: $headingColor;
$brBg: #fff178;
$label: #f5c70f;
$thBackground: #94a34e;
$tdBackground: #677d01;
$borderColor: $thBackground;
$button: #f5c70f;
$linkColor:#f5c70f;
$pColor: #fff;
$Transorm: uppercase;
$thBorderRight: $pColor;